<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-autowire="byName">
	   
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="50" />
		<property name="maxIdle" value="10" />
		<property name="maxWaitMillis" value="1000" />
		<property name="testOnBorrow" value="true"/>
	</bean>
	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg index="0" ref="jedisPoolConfig" />
		<constructor-arg index="1" value="${redis.ip}"  type="String"/>
		<constructor-arg index="2" value="${redis.port}" type="int"/>
	</bean>
	
	
	<bean id="myCacheUtil" class="com.frame.service.utils.MyCacheUtil"/>
	
	<bean id="myRedisUtil" class="com.frame.service.cache.MyRedisUtil">
		<property name="jedisPool"  ref="jedisPool"/>
		<property name="use"  value="${redis.useCache}" />
		<property name="defaultExpireTime"  value="${redis.defaultExpireTime}" />
	</bean>
</beans>