<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">
    <bean id="pictureUtils" class="com.frame.service.utils.PictureUtils">
        <property name="bucket" value="${img.bucket}"/>
        <property name="sk" value=""/>
    </bean>

    <bean id="imageUpload" class="com.frame.service.utils.ImageUpload">
        <property name="uploadPath" value="${img.upload.path}"/>
        <property name="pictureUtils" ref="pictureUtils"/>
    </bean>
</beans>