<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                     http://www.springframework.org/schema/beans/spring-beans.xsd  
                     http://www.springframework.org/schema/tx  
                     http://www.springframework.org/schema/tx/spring-tx.xsd  
                     http://www.springframework.org/schema/context   
                     http://www.springframework.org/schema/context/spring-context.xsd  
                     http://www.springframework.org/schema/aop  
                     http://www.springframework.org/schema/aop/spring-aop.xsd  
                     http://www.springframework.org/schema/util        
                     http://www.springframework.org/schema/util/spring-util-3.2.xsd  
                     http://www.springframework.org/schema/mvc   
                     http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
                     http://www.springframework.org/schema/task
                     http://www.springframework.org/schema/task/spring-task.xsd">

	<bean id="stringHttpMessageConverter"
		class="org.springframework.http.converter.StringHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
				<value>text/plain;charset=UTF-8</value>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="stringHttpMessageConverter" />
			</list>
		</property>
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/articalFish/uploadImgFile" />
			<mvc:mapping path="/articalFish/publish" />
			<mvc:mapping path="/articalFish/articalFishList" />
			<mvc:mapping path="/articalFish/currentArticalFishList" />
			<mvc:mapping path="/articalFish/articalFishDetail" />
			<mvc:mapping path="/collection/del" />
			<mvc:mapping path="/collection/collection" />
			<mvc:mapping path="/collection/list" />
			<mvc:mapping path="/articalFish/cancelCollection" />
			<mvc:mapping path="/comment/publish" />
			<mvc:mapping path="/comment/del" />
			<mvc:mapping path="/fishShop/publish" />
			<mvc:mapping path="/fishShop/fishShopDetail" />
			<mvc:mapping path="/fishShop/del" />
			<mvc:mapping path="/fishSite/publish" />
			<mvc:mapping path="/fishSite/del" />
			<mvc:mapping path="/fishSite/fishSiteDetail" />
			<mvc:mapping path="/like/like" />
			<mvc:mapping path="/like/del" />
			<mvc:mapping path="/report/list" />
			<mvc:mapping path="/report/report" />
			<mvc:mapping path="/user/editUserInfo" />
			<mvc:mapping path="/user/changePwd" />
			<mvc:mapping path="/user/bindTel" />
			<mvc:mapping path="/user/applyFriend" />
			<mvc:mapping path="/user/getFriendsList" />
			<mvc:mapping path="/user/queryFriends" />
			<mvc:mapping path="/user/deleteFriends" />
			<mvc:mapping path="/user/agreeApplyFriends" />
			<mvc:mapping path="/user/refuseInvitation" />
			<mvc:mapping path="/user/isFriend" />
			<mvc:mapping path="/user/getUserInfo" />
			<mvc:mapping path="/user/getPendingFriends" />
			<mvc:mapping path="/user/follow" />
			<mvc:mapping path="/user/cancelfollow" />
			<mvc:mapping path="/user/getFansList" />
			<mvc:mapping path="/user/getFollowList" />
			<mvc:mapping path="/userLogin/userLogin" />
			<mvc:mapping path="/userLogin/saveUserLoginInfo" />
			<mvc:mapping path="/userLogin/registDeviceToken" />
			<mvc:mapping path="/userLogin/sendNotifi" />
			<mvc:mapping path="/userLogin/getPendingFriends" />
			<mvc:mapping path="/userLogin/getPendingFriends" />


			<mvc:exclude-mapping path="/assets/**" />
			<mvc:exclude-mapping path="/img/**" />


			<bean class="com.frame.web.interceptor.LoginInterceptor">
				<property name="aesKey" ref="aesKey" />
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<bean id="aesKey" class="com.frame.domain.common.AesKey">
		<property name="key" value="${cookie.aes.key}" />
	</bean>

 <!--	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/user/**" />
			<mvc:exclude-mapping path="/out-ifs/**" />
			<mvc:exclude-mapping path="/assets/**" />
			<mvc:exclude-mapping path="/swagger/**" />
			<mvc:exclude-mapping path="/user/getValidCode" />
			<mvc:exclude-mapping path="/user/login" />
			<mvc:exclude-mapping path="/user/regist" />
			<mvc:exclude-mapping path="/api-docs" />
			<mvc:exclude-mapping path="/swagger-ui.html" />
			<bean class="com.frame.web.interceptor.BaseInterceptor">
				<property name="key" value="${wm.passport.token.public_key}" />
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>-->

	<aop:aspectj-autoproxy proxy-target-class="true" />
	<context:annotation-config />
	<mvc:annotation-driven />
	<!-- 支持异步方法执行 -->
	<task:annotation-driven />
	
	<mvc:default-servlet-handler />
	
	<mvc:resources location="/static/" mapping="/static/**"
		cache-period="864000" /><!-- 24 * 3600 * 10 -->


	<mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>
	<mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>



	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="defaultEncoding" value="utf-8" />
		<property name="maxUploadSize" value="10485760000" />
		<property name="maxInMemorySize" value="40960" />
	</bean>
	<!-- locale related -->
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="cookieName" value="locale" />
	</bean>
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames"
			value="/assets/i18nstruts/publishware,/assets/i18nstruts/waremanager" />
		<property name="cacheSeconds" value="5" />
	</bean>


</beans>  